

<div class="box">
    <div class="container">
       

      
        <div class="col-md-8 col-sm-offset-2">

            <br>
           
            <div class="md-input">
                <input class="form-control" name="loginId" id="loginId" required="" type="text" placeholder="User ID:">
                <span class="highlight"></span>
                <span class="bar"></span>

            </div>
            <div class="md-input">
                <input class="form-control" name="password" id="password" required="" type="password" placeholder="Password:">
                <span class="highlight"></span>
                <span class="bar"></span>

            </div>

        </div>

                    <br>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="row col-sm-offset-2" style="padding-left:24px">
                <input type="submit" style="background-color:#1FA67B; color:white; font-weight:bold" id="login" value="Login">
                &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;   &nbsp;  &nbsp;   &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                <input type="submit" style="background-color:#1FA67B;  color:white; font-weight:bold" id="signup" value="sign up">


                <br /><br />
            </div>






